.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-arrow:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px; /* where to adjust arrow spacing*/
}

@media (max-width: 768px) {
  .arrow-container {
    gap: 40px; /* smaller gap for mobile, still side-by-side */
    flex-direction: row; /* keep them side-by-side on mobile */
  }
}
