.slick-prev, .slick-next {
  z-index: 1; /* Make sure arrows are above the image */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Add background for better visibility */
  border-radius: 50%;
  padding: 10px;
}

.slick-prev {
  left: 10px; /* Position the left arrow */
}

.slick-next {
  right: 10px; /* Position the right arrow */
}

.carousel-img-wrapper {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or 'contain' if you want to see the full image */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}